@{
    ViewData["Title"] = "About";
}


<address>
    <h3> An app idea to build a basic ASP.Net web app to retrieve data from World Bank API(s) </h3>

    <br />

    <h3> <a href="https://github.com/AdamUdovich/WorldBankDataApp"> GitHub Repo </a> </h3>

    <br />
</address>
