@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>


<address>

    <h3> I am a third year Computer Science student at the Univeristy of Michigan <br /> 
        also working as a software developement intern for Dominos Pizza Inc.</h3>
    <br/>

    <h3> <a href="https://www.linkedin.com/in/adamudovich"> My Linkedin Page </a> </h3>

    <br /> 

    <h3> <a href="https://github.com/AdamUdovich"> My GitHub Profile</a> </h3>

</address>

